.u-section-1 .u-sheet-1 {
  min-height: 540px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 51px 0 9px;
}

.u-section-1 .u-image-1 {
  min-height: 480px;
  background-image: url("images/31945787_1668473006576005_8426821591047864320_n.jpg");
  background-size: cover;
  --radius: 200px;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 480px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 84px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 396px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 396px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-1 .u-image-1 {
    min-height: 303px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-1 .u-image-1 {
    min-height: 593px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-1 .u-image-1 {
    min-height: 373px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 771px;
}

.u-section-2 .u-shape-1 {
  height: 38px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-style: italic;
  margin: 20px 977px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-gallery-1 {
  height: 423px;
  margin-top: 47px;
  margin-bottom: 0;
  grid-gap: 17px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-btn-1 {
  --radius: 15px;
  background-image: none;
  font-style: italic;
  font-size: 1.25rem;
  margin: 30px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 777px;
  }

  .u-section-2 .u-text-2 {
    width: 746px;
  }

  .u-section-2 .u-gallery-1 {
    height: 347px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1173px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 557px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-gallery-1 {
    height: 825px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2244px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 377px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1896px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1554px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 177px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1206px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-3 .u-shape-1 {
  height: 37px;
  margin-top: 128px;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 11px 726px 0 0;
}

.u-section-3 .u-accordion-1 {
  width: 1140px;
  margin: 4px auto 36px;
}

.u-section-3 .u-accordion-link-1 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 40px;
  width: 40px;
  background-image: none;
  --radius: 10px;
  padding: 10px;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-accordion-link-2 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 40px;
  width: 40px;
  background-image: none;
  --radius: 10px;
  padding: 10px;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-accordion-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 40px;
  width: 40px;
  background-image: none;
  --radius: 10px;
  padding: 10px;
}

.u-section-3 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-accordion-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-4 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 40px;
  width: 40px;
  background-image: none;
  --radius: 10px;
  padding: 10px;
}

.u-section-3 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-accordion-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-5 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 30px;
}

.u-section-3 .u-icon-5 {
  height: 40px;
  width: 40px;
  background-image: none;
  --radius: 10px;
  padding: 10px;
}

.u-section-3 .u-accordion-pane-5 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 526px;
  }

  .u-section-3 .u-accordion-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 306px;
  }

  .u-section-3 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 126px;
  }

  .u-section-3 .u-accordion-1 {
    width: 540px;
  }

  .u-section-3 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-accordion-link-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-accordion-link-5 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-accordion-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 752px;
}

.u-section-4 .u-shape-1 {
  height: 39px;
  margin: 0;
}

.u-section-4 .u-text-1 {
  margin: 11px 836px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 6px auto 0 0;
}

.u-section-4 .u-form-1 {
  height: 489px;
  margin: 6px 0 0;
}

.u-section-4 .u-input-1 {
  --radius: 30px;
}

.u-section-4 .u-input-2 {
  --radius: 30px;
}

.u-section-4 .u-input-3 {
  --radius: 30px;
}

.u-section-4 .u-btn-1 {
  --radius: 20px;
  background-image: none;
  font-style: italic;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-right: 636px;
  }

  .u-section-4 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 416px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 236px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-right: 36px;
  }
}